*{
	margin: 0;
	padding: 0;
	 box-sizing: border-box;
}
.blue{
	color: #00ADB5 !important;
}
.bg-blue{
	background-color: #00ADB5 !important;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
body{
	overflow-x: hidden;
	box-sizing: border-box !important;
}
html{
	scroll-behavior: smooth;
}
/*font-family: 'Amatic SC', cursive;*/
/*font-family: 'Lora', serif;*/
/*font-family: 'Poppins', sans-serif;*/

/*Header section css*/
header{
	width: 100%;
}
.top-header{
	width: 100%;
background-color: #00ADB5;
padding: 8px 0px;
}
.top-header span{
	color: white;
	font-size: 11px;
	font-family: 'Poppins', sans-serif;
	transform: translateY(2px);
}
.first{
	float: left;
	width: 30%;
}
.last{
	float: right;
}
.navbar{
	display: flex;
	justify-content: space-between;
	padding: 12px 0px;
	position: relative;
}
.logo a{
	font-size: 22px;
	color: #00ADB5;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
.menus ul li{
	list-style: none;
	display: inline-block;
	margin-left: 16px;
	line-height: 1.9;
	position: relative;
}
.menus ul li a{
	font-family: 'Poppins', sans-serif;
	color: black;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 2px;
}
/*submenu css*/
.has-sub-menu{
	position: absolute;
	left: -60px;
	margin-top: 17px;
	width: 180px;
	padding: 20px;
	background-color: white;
	display: none;
}
.sub-menu li{
list-style: none;
display: block !important;
margin-bottom: 8px;
}
.menus ul li:hover .has-sub-menu{
	display: block;
}
/*banner section css*/
.banner{
	width: 100%;
	background-image: url(../img/banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.2);
	background-blend-mode: soft-light;
	padding: 100px 0px;
}
.banner-content{
text-align: center;
}
.banner-content h1{
	font-size: 130px;
	color: white;
	font-weight: 400;
	font-family: 'Amatic SC', cursive;
	line-height: 1.1;
	text-transform: uppercase;
}
.banner-content p{
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 4px;
	font-weight: 500;
	margin-bottom: 30px;
}
.banner-btn{
	background-color: #00ADB5;
	color: white;
	padding: 8px 12px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	border-radius: 35px;
	border: 2px solid  #00ADB5;
	display: inline-block;
}
.banner-btn:hover{
	background-color: transparent;
	border: 2px solid  #fff;
}
/*Video content section css*/
.v-content{
	width: 100%;
	padding: 100px 0px;
	overflow: hidden;
}
.v-content video{
	position: absolute;
	z-index: -1;
	background-size: cover;
	left: 8%;
}
.vid-content{
	position: relative;
	z-index: 1;
	text-align: center;
}
.vid-content h1{
	color: white;
	font-size: 100px;
	font-family: 'Amatic SC', cursive;
	font-weight: 400;
	text-align: center;
	align-items: center;
	transform: translateY(100px);
	padding-left: 50px;
}
/*features section css*/
.features{
	width: 100%;
	padding: 100px 0px;
	margin-top: -1050px;
}
.f-item-gallery{
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	margin-top: 950px;
}
.f-item img{
width: 50px;
margin-top: 26px;
filter: invert(1);
}
.f-item h6{
	font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins",Arial,sans-serif;
    color: black;
    line-height: 1.5;
    padding: 12px 0px;
}
.f-item p{
	text-transform: uppercase;
    color: #808080;
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins",Arial,sans-serif;
}
.f-item span{
	display: inline-block;
	height: 100px;
	width: 100px;
	text-align: center;
	border-radius: 100%;
	position: relative;
}
.f-item:nth-child(1) span{
	background-color: #EF6D6D;
}
.f-item:nth-child(2) span{
	background-color: #22577A;
}
.f-item:nth-child(3) span{
	background-color: #ED5EDD;
}
.f-item:nth-child(4) span{
	background-color: #8267BE;
}
.f-item:nth-child(5) span{
	background-color: #F1D00A;
}
.f-item span:hover{
	background-color: #00ADB5;
}
.f-item span::before{
	content: '';
	position: absolute;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 100%;
	top: 10px;
	bottom: 10px;
	right: 10px;
	left: 10px;
}

/*dish category css*/
.f-category{
	width: 100%;
	padding: 70px 0px;
}
.fc-gallery{
	display: flex;
}
.fc-item{
	flex-basis: 33.33%;
}
.item-content{
	position: relative;
	margin-bottom: 20px;
}
.item-content div{
	height: 250px;
	overflow: hidden;
}
.item-content a{
	position: absolute;
	bottom: 3px;
	left: 0;
	background: #00ADB5;
	color: white;
	display: inline-block;
	padding: 8px 17px;
	font-family: 'Poppins', sans-serif;
}
.item-content img{
max-width: 100%;
height: auto;
}
.second{
	text-align: center;
	margin-bottom: 24px;
    margin-left: 15px;
    margin-right: 15px;
	background-image: url(../img/fish3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.second h3{
color: #00ADB5;
    font-family: "Lora",Georgia,serif;
    font-style: italic;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 800;
    margin-bottom: 4px;
    margin-top: 10px;
}
.second p{
font-size: 15px;
color: #7F7F7F;
font-weight: bold;
font-style: italic;
font-family: 'Poppins', sans-serif;
margin-bottom: 7px;
}
.fc-item .banner-btn:hover{
	border-color: white;
	color: white;
}

/*product section css*/

.products{
	width: 100%;
	padding: 50px 0px;
}
.section-title{
	text-align: center;
}
.section-title h6{
	font-size: 18px;
    margin-bottom: 22px;
    font-family: 'Lora', serif;
    font-style: italic;
    color: #00ADB5;
}
.section-title h2{
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: black;
	margin-bottom: 22px;
}
.section-title p{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #808080;
	margin-bottom: 22px;
}
.product-gallery{
	margin-top: 42px;
	display: grid;
	margin-left: 18px;
	grid-template-columns: auto auto auto auto;
	column-gap: 24px;
	row-gap: 24px;
}
.product-item img{
width: 210px;
margin-bottom: 16px;
}
.product-item{
	text-align: center;
	border: 1px solid #eee;
	padding: 24px 0px;
position: relative;
}
.product-item h6 a{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: black;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 12px;
	display: inline-block;
}
.price span{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: #00ADB5;
}
.price span del{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: #b3b3b3;
}
.offer{
	background-color: #00ADB5;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	display: inline-block;
	padding: 4px 10px;
	position: absolute;
	top: 1px;
	left: 0;
}
.product-meta a i{
	height: 35px;
	width: 35px;
	background-color: #00ADB5;
	color: white;
	border-radius: 100%;
	line-height: 35px;
}
.product-meta{
	position: absolute;
	bottom: 18px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: 0.6s;
}
.product-item:hover .product-meta{
	opacity: 1;
	transition: 0.6s;	
}
.product-item:hover img{
	transform: scale(1.1);
	transition: 0.6s;
}
.product-item:hover{
	box-shadow: 0 7px 15px -5px rgb(0 0 0 / 7%);
}
.product-item:hover .price{
	opacity: 0;
}
/*deal section css*/
.deal{
	width: 100%;
	background-image: url(../img/deals.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 0px;
	margin-top: 75px;
}
.counter{
height: 100px;	
}
.deal-content{
	display: flex;
}
.deal-left{
	flex-basis: 65%;
}
.deal-right{
	flex-basis: 35%;
}
.deal-right h5{
	font-size: 20px;
    display: block;
    margin-bottom: 10px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #2666CF;
    font-weight: 500;
}
.deal-right h2{
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
}
.deal-right p{
	font-size: 16px;
    font-weight: 400;
    color: #2666CF;
    font-family: "Poppins", Arial, sans-serif;
    margin-bottom: 32px;
}
.deal-right h3{
	color: #00ADB5;
	font-size: 32px;
    margin-bottom: 20px;
    font-family: "Lora", Georgia, serif;
    font-weight: 500;
}
.deal-right .price span:first-child{
color: red;
}
.deal-right .price span:nth-child(2){
color: #2666CF;
}
/*testimonial css starts*/
.testimonial{
	width: 100%;
	padding: 100px 0px;
}
.t-gallery{
	margin-top: 4rem;
	display: grid;
	grid-template-columns: auto auto auto;
}
.owl-carousel .owl-item img{
	width: 100px !important;
	border-radius: 100%;
}
.owl-carousel2 .owl-item img{
	width: 100px !important;
	border-radius: 100%;
}
.testimonial-item{
	text-align: center;
	padding: 0px 32px;
}
.userimg{
	position: relative;
	margin-bottom: 28px;
	display: inline-block;
}
.testimonial-item p{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #808080;
	margin-bottom: 38px;
	border-left: 2px solid #eee;
	padding: 0px 18px;
	position: relative;
}
.testimonial-item p::before{
	content: '';
	height: 25px;
	width: 2px;
	background-color: #00ADB5;
	position: absolute;
	left: -2px;
	top: 50%;
	transform: translateY(-50%);
}
.testimonial-item h4{
	font-weight: 400;
    font-size: 18px;
    margin-bottom: 16px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}
.testimonial-item h6{
	font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}
.userimg i{
	height: 40px;
	width: 40px;
	background-color: white;
	border-radius: 100%;
	line-height: 40px;
	color: #00ADB5;
	position: absolute;
	right: 0;
	bottom: 0;
}
.line{
  margin-top: 30px;
  margin-bottom: 50px;
  border-bottom: 2px solid #eee;
}
/*icon css*/
.icon-image{
   	width: 96%;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 10px;
    padding-right: 15px;
    margin-left: 25px;
    box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px;
}
.icon-image h2{
	font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    margin-bottom: 22px;
    text-align: center;
}
.icon img{
    width: 100px;
    transition: transform 1s;
    padding-right: 15px;
}
.icon{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
/*newsletter css*/
.newsletter{
    width: 100%;
    padding: 100px 0px;
    background-color: #B2F9FC;
}
.n-content{
    display: flex;
}
.nl-content, .nr-content{
    flex-basis: 50%;
}
.nl-content h2{
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    line-height: 1.5;
}
.nl-content p{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: #808080;  
}
.form-control{
    padding: 25px 100px;
    margin-left: 39px;
    border-radius: 3%;
}
.nr-content button{
    padding: 25px 50px;
    margin-left: -10px;
    background-color:#00ADB5;
    border-radius: 3%;
    color: white;  
}
/*footer css*/
footer{
    width: 100%;
    padding: 100px 0px;
    position: relative;
}

.footer-content{
    display: flex;
    margin-bottom: 42px;
}
.footer-1{
    flex-basis: 25%;
    margin-right: 36px;

}
.footer-2{
    flex-basis: 20%;
}
.footer-3{
    flex-basis: 35%;
}
.footer-4{
    flex-basis: 20%;
}
.footer-content h6{
    font-size: 16px;
    font-weight: 500;
    font-family: 'poppins', sans-serif;
    margin-bottom: 28px;
    color: #000;
}

.footer-content p{
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1a1919;
    line-height: 1.7;
    
    
}
.footer-icon{
    margin-top: 42px;
}
.footer-icon i{
    height: 40px;
    width: 40px;
    background-color: #f5f5f5;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.footer-icon a{
    margin-right: 12px;
}
.footer-icon i:hover{
    background-color: #00ADB5;
    color: white;
}
.footer-4 i{
    margin-right: 16px;
}
.f-menu li{
    list-style: none;
    margin-bottom: 16px;

}
.f-menu li a{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    font-family: 'poppins', sans-serif;
}

#preloader{
	background: #fff url(../img/preloader.gif) no-repeat center;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.hamburger-icon{
	position: absolute;
	right: 0;
	transform: translateY(50%);
	cursor: pointer;
	display: none;
}
.mobile-menu{
	background-color: white;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	text-align: center;
	transform: translateY(10px);
	display: none;
}
.mobile-menu ul{
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-50% , -50%);
	list-style: none;
}
.mobile-menu ul li{
	margin: 16px 0px;
}
 .mobile-menu ul li a{
	font-family: 'Poppins', sans-serif;
	color: black;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 2px;
}
#cross{
	background-image: url(../img/close.png);
	z-index: 9999;
	position: fixed;
	right: 120px;
	top: 20px;
	width: 40px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media (max-width: 767px){
	.hamburger-icon{
		display: block;
	}
	.menus{
		display: none;
	}
}

#accordion{
	width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#accordion h2{
	font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #00ADB5;
    margin-bottom: 22px;
    padding-top: 460px;
}
.faq{
	max-width: 700px;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #000;
	cursor: pointer;
}
.question{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.question h3{
	font-size: 70px !important;
	font-family: 'Amatic SC', cursive;
	font-weight: 400;
}
.answer{
	max-height: 0;
	overflow: hidden;
	/*transition: max-height 1.4s ease;*/
}
.answer p{
	font-size: 15px;
    color: #7F7F7F;
    font-weight: 400;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 7px
}
.faq.active .answer{
	max-height: 300px;
	animation: fade 1s ease-in-out;
}
.faq.active .question svg{
	transform: rotate(180deg);
}
svg{
	transition: transform 0.5s ease-in;
}
.deal-right .counter div p{
	margin-bottom: 0px;
}
.deal-right .counter div span{
	font-size: 20px;
    display: block;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #2666CF;
    font-weight: 400;
}
.rocket {
	width: 60px;
    position: absolute;
    right: 7%;
    transform: translateY(-70px);
    animation: rocket 5s linear infinite;
}
.counter{
	display: flex;
}
.counter div{
	flex-basis: 100px;
}
.counter div p{
	margin-top: 13px;
	font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
/*.gotopbtn{
  position: absolute;
  width: 50px;
  height: 50px;
  background: #00ADB5;
  bottom: 60px;
  right: 40px;
  border-radius: 100%;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}*/
.gotopbtn img{
	width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
}
@keyframes fade{
	from{
		opacity: 0;
		transform: translateY(-10px);
	}
	to{
		opacity: 1;
		transform: translateY(10px);
	}
}
@keyframes rocket{
	from{
		opacity: 0;
		transform: translateY(0px);
	}
	to{
		opacity: 1;
		transform: translateY(-380px);
	}
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
	display: none;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: #00ADB5 !important;
}
/**/
.containers {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    padding-bottom: 535px;
    margin-bottom: 70px;
    box-shadow: rgba(0, 173, 181, 0.09) 0px 2px 1px, rgba(0, 173, 181, 0.09) 0px 4px 2px, rgba(0, 173, 181, 0.09) 0px 8px 4px, rgba(0, 173, 181, 0.09) 0px 16px 8px, rgba(0, 173, 181, 0.09) 0px 32px 16px;
}
.containers h1{
	text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 70px;
    color: black;
}
.containers ul {
    margin: 0 0 40px;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-end ;    
}
.containers ul li {
    list-style: none;
    margin: 0 0 40px;
    
}
.containers img {
    object-fit: cover;
}
.containers ul li .slide {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  transition: opacity 3s;
  opacity: 0;
/*     transition: transform 0.5s;
    transform: rotateY(90deg);
    transform-origin: left; */
}
.containers ul li input[type="radio"] {
    position: relative;
    z-index: 10;
    height: 15px;
    width: 15px;
    margin-left: 15px;
    border-radius: 0;
}
.containers ul li .slide img {
    display: block;
    width: 100%;
    height: 700px;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
}
.containers ul li input[type="radio"]:checked ~ .slide {
  opacity:1;
  transition: opacity 3s;
}
.containers ul li .slide .content {
    bottom: 0 !important;
    position: absolute;
    top: -5px;
    left: -1000%;
    background: rgba(255,255,255,0.6);
    padding: 24px;
    transition: left .5s;
    max-width: 25%;
    min-width: 350px;
    height: 450%;  
    margin-top: 20px;
    margin-left: 20px; 
}
.containers ul li input[type="radio"]:checked ~ .slide .content {
    left:0; 
  	bottom: 0;
}
.containers ul li .slide .content h2 {
    margin: 0;
    padding: 0;
    font-size: 70px !important;
    font-family: 'Amatic SC', cursive;
    font-weight: 600 !important;
}
.containers ul li .slide .content p {
    font-size: 18px;
}
.containers ul li:nth-child(even) input[type="radio"]:checked ~ .slide img {
    transform-origin: bottom right;  
}
.containers ul li input[type="radio"]:checked ~ .slide img {
    animation: animate 10s linear infinite;
    transform-origin: bottom right;  
}
@keyframes animate {
0% {
    transform:scale(1);
}    
    50% {
        transform:scale(1.1);
    }             
100% {
    transform:scale(1);
}
}
/**/
.quickView-modal{
	background: #0000005e;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: none;
}
.quickView-modal .item-wrapper{
	width: 500px;
	transform: translateY(100px);
	background-color: white;
	margin: auto;
	text-align: center;
	padding: 40px;
	border-radius: 4px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	position: relative;
}
.quickView-modal .item-wrapper img{
	width: 210px;
}
.quickView-modal .item-wrapper h2{
	font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins",Arial,sans-serif;
    color: black;
    line-height: 1.5;
    padding: 12px 0px;
}
.quickView-modal .item-wrapper p{
	font-size: 15px;
    color: #7F7F7F;
    font-weight: 400;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 7px;
}
.quickView-modal .item-wrapper button{
	background-color: #00ADB5;
    color: white;
    padding: 8px 12px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 35px;
    border: 2px solid #00ADB5;
    display: inline-block;
}
.quickView-modal .item-wrapper button:hover{
	border-color: black;
    color: black;
    background-color: white;
}
.closebtn{
	background-image: url(../img/close.png);
	z-index: 9999;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 25px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

/**/
.quickView-modal1{
	background: #0000005e;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: none;
}
.quickView-modal1 .item-wrapper1{
	width: 500px;
	transform: translateY(100px);
	background-color: white;
	margin: auto;
	text-align: center;
	padding: 40px;
	border-radius: 4px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	position: relative;
}
.quickView-modal1 .item-wrapper1 img{
	width: 210px;
}
.quickView-modal1 .item-wrapper1 h2{
	font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins",Arial,sans-serif;
    color: black;
    line-height: 1.5;
    padding: 12px 0px;
}
.quickView-modal1 .item-wrapper1 p{
	font-size: 15px;
    color: #7F7F7F;
    font-weight: 400;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 7px;
}
.quickView-modal1 .item-wrapper1 button{
	background-color: #00ADB5;
    color: white;
    padding: 8px 12px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 35px;
    border: 2px solid #00ADB5;
    display: inline-block;
}
.quickView-modal1 .item-wrapper1 button:hover{
	border-color: black;
    color: black;
    background-color: white;
}
.closebtn1{
	background-image: url(../img/close.png);
	z-index: 9999;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 25px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}